.rebus {
  max-height: 200px;
  padding: 20px;
}

.rebus img {
  border: 10px solid #fde57b;
}

.showcase-rebusi {
  margin-top: 20px;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  color: #353535;
}

.showcase-rebusi p {
  font-size: 20px;
  color: #2b2b2b;
}

@media screen and (max-width: 992px) {
  .rebus img {
    max-width: 300px;
  }
}

@media screen and (max-width: 1200px) {
  .rebus img {
    min-width: 500px;
  }

  .showcase-rebusi {
    min-width: 80%;
    margin: 5%;
  }
}

@media screen and (max-width: 668px) {
  .rebus img {
    min-width: 250px;
  }

  .showcase-rebusi {
    min-width: 80%;
    margin: 5%;
  }
}

@media screen and (max-width: 400px) {
  .rebus img {
    max-width: 120px;
    border: 2px solid #fde57b;
  }

  .showcase-rebusi {
    min-width: 98%;
    margin: 1%;
  }
}
